# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/tests/Chapter01/google_user_data
/tests/Chapter02/google_user_data
/tests/Chapter03/google_user_data
/tests/Chapter04/google_user_data
/tests/Chapter05/google_user_data
allure-results/
allure-report/